.page__wrapper_manage {
  table {
    text-align: left;
    margin-bottom: 50px;
    tbody {
      tr {
        .btnSua {
          background-color: red;
          color: #fff;
        }
        .btnXoa {
          background-color: green;
          color: #fff;
        }
      }
    }
  }
}
