<div class="roomContent">
  <div class="row">
    <div class="col-md-8 p-0">
      <div class="chooseSeat">
        <div class="row chooseSeat__top">
          <div class="col-md-6   chooseSeat__top--left">
            <img src="https://s3img.vcdn.vn/123phim/2018/09/f32670fd0eb083c9c4c804f0f3a252ed.png" alt="" />
            <div class="info">
              <div class="cinema">
                <span> {{ thongTinPhim.tenCumRap }} </span> -
                {{ thongTinPhim.diaChi }}
              </div>
              <div class="day">
                Hôm nay - {{ thongTinPhim.gioChieu }} -
                {{ thongTinPhim.tenRap }}
              </div>
            </div>
          </div>
          <div class="col-md-6 chooseSeat__top--right">
            <div class="timeSeat">
              <p class="time-text">thời gian giữ ghế</p>
              <p class="time">{{ counter }}</p>
            </div>
          </div>
        </div>
        <div class="screen">
          <img src="https://tix.vn/app/assets/img/icons/screen.png" alt="" />
        </div>
        <div class="chooseSeat__body">
          <div class="row">
            <span class="seat ">
              A
            </span>
            <div class="btn-seat">

              <app-seat *ngFor="let ghe of danhSachGheDayA" [itemGhe]="ghe" (emitterStatus)="datGheParent($event,ghe)">
              </app-seat>

            </div>
          </div>
          <div class="row">
            <span class="seat">
              B
            </span>
            <div class="btn-seat">
              <app-seat *ngFor="let ghe of danhSachGheDayB" [itemGhe]="ghe" (emitterStatus)="datGheParent($event,ghe)">
              </app-seat>
            </div>

          </div>
          <div class="row">
            <span class="seat">
              C
            </span>
            <div class="btn-seat">
              <app-seat *ngFor="let ghe of danhSachGheDayC" [itemGhe]="ghe" (emitterStatus)="datGheParent($event,ghe)">
              </app-seat>


            </div>
          </div>
          <div class="row">
            <span class="seat">
              D
            </span>
            <div class="btn-seat">
              <app-seat *ngFor="let ghe of danhSachGheDayD" [itemGhe]="ghe" (emitterStatus)="datGheParent($event,ghe)">
              </app-seat>

            </div>
          </div>
          <div class="row">
            <span class="seat">
              E
            </span>
            <div class="btn-seat">
              <app-seat *ngFor="let ghe of danhSachGheDayE" [itemGhe]="ghe" (emitterStatus)="datGheParent($event,ghe)">
              </app-seat>

            </div>
          </div>

          <div class="row">
            <span class="seat">
              F
            </span>
            <div class="btn-seat">
              <app-seat *ngFor="let ghe of danhSachGheDayF" [itemGhe]="ghe" (emitterStatus)="datGheParent($event,ghe)">
              </app-seat>
            </div>
          </div>

          <div class="row">
            <span class="seat">
              H
            </span>
            <div class="btn-seat">
              <app-seat *ngFor="let ghe of danhSachGheDayH" [itemGhe]="ghe" (emitterStatus)="datGheParent($event,ghe)">
              </app-seat>

            </div>
          </div>
          <div class="row">
            <span class="seat">
              I
            </span>
            <div class="btn-seat">
              <app-seat *ngFor="let ghe of danhSachGheDayI" [itemGhe]="ghe" (emitterStatus)="datGheParent($event,ghe)">
              </app-seat>

            </div>
          </div>

        </div>

        <div class="chooseSeat__bottom">
          <div class="row seatInfo">
            <div class="col-md-4 text-center">
              <button class="seat-vip"></button>
              <p>Ghế VIP</p>
            </div>
            <div class="col-md-4  text-center">
              <button class="seat-load "></button>
              <p>Ghế đang chọn</p>
            </div>
            <div class="col-md-4  text-center">
              <button class="seat-has-user"></button>
              <p>Ghế đã có người chọn</p>
            </div>
           
          </div>


          <div>
            <p>Danh sách ghế đang đặt</p>
            <p *ngFor="let item of danhSachGheDangDat"> Số Ghế : {{item.SoGhe  }} Dãy Ghế : {{  item.Day}} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-0 payment">
      <div class="payment__content">
        <div class="row name">
          <div>
            <P><span>C18</span> {{ thongTinPhim.tenPhim }} </P>
            <P>{{ thongTinPhim.tenCumRap }} - {{ thongTinPhim.diaChi }} </P>
            <P>Hôm nay {{ thongTinPhim.ngayChieu }} -
              {{ thongTinPhim.gioChieu }} - {{ thongTinPhim.tenRap }}
            </P>
          </div>
        </div>
        <div class="row price">
          <div class="col-6 p-0">
            <p class="seat">Ghế :</p>
            <p>Chọn combo :</p>
          </div>
          <div class="col-6 p-0 price__number">
            <p class="number"> {{price}} </p>
            <p class="number">0 d</p>
          </div>
        </div>
        <div class="row wrapper-email">
          <mat-form-field style="width: 100%;" class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" [(ngModel)]="email" />
          </mat-form-field>
        </div>
        <div class="row wrapper-phone">
          <mat-form-field style="width: 100%;" class="example-full-width">
            <mat-label>Phone</mat-label>
            <input matInput placeholder="" [(ngModel)]="phone" />
          </mat-form-field>
        </div>
        <div class="categoryPayment">
          <mat-radio-button style="display: block;" class="example-radio-button" *ngFor="let pay of payment"
            [value]="season">
            <div>
              <img style="width: 35px;" [src]="pay.img" alt="" /> {{ pay.name }}
            </div>
          </mat-radio-button>
        </div>
        <div class="alert">
          <img src="https://tix.vn/app/assets/img/icons/exclamation.png" alt="" />
          <div>Vé đã mua không thể đổi hoặc hoàn tiền</div>
          <br />
          <span class="text-center">
            Mã vé sẽ được gửi qua tin nhắn
            <span style="color: #f79320;">ZMS </span>(tin nhắn Zalo) và
            <span style="color: #f79320;"> Email</span> đã nhập.</span>
        </div>
      </div>
      <div class="buyTicket " [ngClass]="{ active: email && phone }" style="cursor: pointer;">
        Đặt vé
      </div>
    </div>
  </div>
</div>