.carousel {
  .carousel-indicators {
    bottom: 10%;
    li {
      border-radius: 50%;
      width: 10px;
      height: 10px;
    }
    .active {
      background-color: red;
    }
  }
  .carousel-inner {
    .carousel-item {
      position: relative;
      img {
        width: 100%;
      }
      button.playTrailer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: 0 0;
        border: none;
        display: none;
        img {
          transition: ease all 0.4s;
          display: block;
          &:hover {
            opacity: 0.7;
          }
        }
      }

      &:hover {
        button.playTrailer {
          display: block;
        }
      }
    }
  }

  
}
