<div class="cinema-film-item accordion " id="accordionExample" style="cursor: pointer;">
  <div class="cinema-film-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
    aria-controls="collapseOne">
    <div class="cinema-film-img">
      <img src="https://s3img.vcdn.vn/mobile/123phim/2020/02/nang-3-loi-hua-cua-cha-c16-15827063492648_60x60.jpg"
        alt="" />
    </div>

    <div class="cinema-film-info">
      <span class="age"> C18</span>
      <span class="text"> {{ itemPhim.tenPhim }} </span>
      <p class="info">132 phút - TIX 9.1 - IMDb 8.6</p>
    </div>
  </div>
  <div class="cinema-film-bottom collapse show" id="collapseOne" aria-labelledby="headingOne"
    data-parent="#accordionExample">
    <p>2D Digital</p>
    <div *ngFor="let item of itemPhim.lstLichChieuTheoPhim" class="time" style="cursor: pointer;"
      [routerLink]="['/checkout',item.maLichChieu]" routerLinkActive="router-link-active">
      {{item.ngayChieuGioChieu | date:'mm:ss'}} ~ <span class="smallText">22:02</span>
    </div>
  </div>
</div>