<form
  class="dangKi"
  action=""
  #formDangKi="ngForm"
  (ngSubmit)="dangKi(formDangKi)"
>
  <div class="form-group ">
    <span><i class="fa fa-user-circle" aria-hidden="true"></i> </span>
    <input
      type="text"
      name="hoTen"
      id=""
      class="form-control"
      placeholder="Họ Tên"
      aria-describedby="helpId"
      ngModel
    />
  </div>
  <div class="form-group ">
    <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
    <input
      type="text"
      name="taiKhoan"
      id=""
      class="form-control"
      placeholder="Tài Khoản"
      aria-describedby="helpId"
      ngModel
      #taiKhoan="ngModel"
    />
    <div *ngIf="taiKhoan.errors && (taiKhoan.dirty || taiKhoan.touched)">
      <div *ngIf="taiKhoan.errors.required" class="alert alert-danger">
        *Vui lòng nhập tài khoản
      </div>
    </div>
  </div>
  <div class="form-group ">
    <span><i class="fa fa-key" aria-hidden="true"></i> </span>
    <input
      type="text"
      name="matKhau"
      id=""
      class="form-control"
      placeholder="Mật khẩu"
      aria-describedby="helpId"
      ngModel
      #matKhau="ngModel"
    />
    <div *ngIf="matKhau.errors && (matKhau.dirty || matKhau.touched)">
      <div *ngIf="matKhau.errors.required" class="alert alert-danger">
        * Vui lòng nhập mật khẩu
      </div>

      <div
        *ngIf="
          (matKhau.errors.minlength || matKhau.errors.maxlength) &&
          !matKhau.errors.pattern
        "
        class="alert alert-danger"
      >
        * Mật khẩu phải có từ 8 tới 16 kí tự
      </div>

      <div *ngIf="matKhau.errors.pattern" class="alert alert-danger">
        * Mật khẩu nhập vào phải là số
      </div>
    </div>
  </div>
  <div class="form-group ">
    <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
    <input
      type="text"
      name="email"
      id=""
      class="form-control"
      placeholder="Email"
      aria-describedby="helpId"
      ngModel
    />
  </div>

  <div class="form-group ">
    <span><i class="fa fa-mobile" aria-hidden="true"></i> </span>
    <input
      type="text"
      name="soDt"
      id=""
      class="form-control"
      placeholder="Số Điện thoại"
      aria-describedby="helpId"
     ngModel
    />
  </div>

  <div class="wrapper__signUp">
    <div class="rememberMe">
      <input type="checkbox" />
      Remember me
    </div>
    <button class="signUp" type="submit" [disabled]="formDangKi.invalid">
      Đăng kí
    </button>
  </div>
</form>
<div class="form-34or">
  <span class="pros">
    <span class="or">or</span>
  </span>
</div>
<div class="social">
  <div class="icon face">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </div>
  <div class="icon google">
    <i class="fa fa-google-plus" aria-hidden="true"></i>
  </div>
</div>
<div class="remember">
  <p>Already a member? <a href="">Đăng nhập</a></p>
</div>
