<form class="dangKi" action="">
  <div class="form-group ">
    <span><i class="fa fa-user-circle" aria-hidden="true"></i>
    </span>
    <input
      type="text"
      name=""
      id=""
      class="form-control"
      placeholder="Họ Tên"
      aria-describedby="helpId"
    />
  </div>
  <div class="form-group ">
    <span><i class="fa fa-user-o" aria-hidden="true"></i></span>
    <input
      type="text"
      name=""
      id=""
      class="form-control"
      placeholder="Tài Khoản"
      aria-describedby="helpId"
    />
  </div>
  <div class="form-group ">
    <span><i class="fa fa-key" aria-hidden="true"></i> </span>
    <input
      type="text"
      name=""
      id=""
      class="form-control"
      placeholder="Mật khẩu"
      aria-describedby="helpId"
    />
  </div>
  <div class="form-group ">
    <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
    <input
      type="text"
      name=""
      id=""
      class="form-control"
      placeholder="Email"
      aria-describedby="helpId"
    />
  </div>

  <div class="form-group ">
    <span><i class="fa fa-mobile" aria-hidden="true"></i> </span>
    <input
      type="text"
      name=""
      id=""
      class="form-control"
      placeholder="Số Điện thoại"
      aria-describedby="helpId"
    />
  </div>
  <div class="wrapper__signUp">
    <div class="rememberMe">
      <input type="checkbox" />
      Remember me
    </div>
    <button class="signUp">
      Đăng kí
    </button>
  </div>
</form>
<div class="form-34or">
  <span class="pros">
    <span class="or">or</span>
  </span>
</div>
<div class="social">
  <div class="icon face">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </div>
  <div class="icon google">
    <i class="fa fa-google-plus" aria-hidden="true"></i>
  </div>
</div>
<div class="remember">
  <p>Already a member? <a href="">Đăng nhập</a></p>
</div>
