.dangKi {
  padding-top: 20px;
  .form-group {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    input {
      border: none;
    }
  }
  .wrapper__signUp {
    display: flex;
    justify-content: space-between;

    .signUp {
      padding: 10px;
      background-color: #e48925;
      border: none;
      color: white;
      border-radius: 4px;
    }
  }
}
.form-34or {
  margin-bottom: 27px;
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
  .pros {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: -8.4px;
    display: inherit;
    .or {
      background: #fff;
      padding: 0 8px;
      display: inline-block;
      color: #d4d4d4;
      text-transform: uppercase;
    }
  }
}
.social {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  justify-content: center;
  .icon {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    color: #fff;
    border-radius: 50%;
    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 14px;
    }
  }
  .icon.face {
    background-color: #4f6aa3;
  }
  .icon.google {
    @extend .face;
    background-color: #e05d4d;
  }
}
.remember {
  p {
    color: #333333;
    font-size: 15px;
    line-height: 25px;

    margin-top: 20px;
  }
}
