<div class="wrapper__footer">
    <div class="footer-top">
        <div class="footer-content container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-home-app-left">
                        <p class="textLeft">Ứng dụng tiện lợi dành cho</p>
                        <br />
                        <p class="textLeft">người yêu điện ảnh</p>
                        <br />
                        <p class="textSmall">
                            Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và
                            đổi quà hấp dẫn.
                        </p>
                        <br />
                        <button class="buttonLeft">
                            App miễn phí - Tải về ngay
                        </button>
                        <p class="textAppUnder">
                            TIX có hai phiên bản
                            <a href="">IOS</a>
                            &
                            <a href="">Android</a>
                        </p>
                    </div>
                </div>
    
                <div class="col-md-6">
                    <div class="footer-home-app-right">
                        <img src="https://tix.vn/app/assets/img/icons/mobile.png" alt="" />
                        <img class="slide" src="https://tix.vn/app/assets/img/icons/slide/slide9.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        
        <div class="footer-bottom-content container">
            <div class="row">
                <div class="col-md-4">
                    <p class="title ">TIX</p>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="">FAQ</a>
                            <a href="">Brand Guidelines</a>
                        </div>
                        <div class="col-md-6">
                            <a href="">Thỏa thuận sử dụng</a>
                            <a href="">Thỏa thuận sử dụng</a>
                            <a href="">Thỏa thuận sử dụng</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="title">
                        ĐỐI TÁC
                    </p>
                    <div class="row">
                        <div class="col-md-12">
                            <img src="https://tix.vn/app/assets/img/icons/galaxycine.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/galaxycine.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                        </div>
                        <div class="col-md-12">
                            <img src="https://tix.vn/app/assets/img/icons/galaxycine.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/galaxycine.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                        </div>
                        <div class="col-md-12">
                            <img src="https://tix.vn/app/assets/img/icons/galaxycine.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/galaxycine.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                        </div>
                        <div class="col-md-12">
                            <img src="https://tix.vn/app/assets/img/icons/galaxycine.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/galaxycine.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/cinestar.png" alt="">
                        </div>
    
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-6">
                            <p class="title">
                                Mobile app
                            </p>
                            <img src="https://tix.vn/app/assets/img/icons/android-logo.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/apple-logo.png" alt="">
    
                        </div>
                        <div class="col-6">
                            <p class="title">
                                Mobile app
                            </p>
                            <img src="https://tix.vn/app/assets/img/icons/android-logo.png" alt="">
                            <img src="https://tix.vn/app/assets/img/icons/apple-logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container">
            <div class="row pt-4">
                <div class="col-md-1">
                    <img style="width: 100%;" src="https://tix.vn/app/assets/img/icons/zion-logo.jpg" alt="">
    
                </div>
                <div class="col-md-9">
                    <span style="color: white ; display: block;">TIX – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION</span>
                    <span style="font-size: 12px;">Địa chỉ: Z06 Đường số 13, Phường Tân Thuận Đông, Quận 7, Tp. Hồ Chí Minh,
                        Việt Nam.</span>
                    <span style="font-size: 12px;">Giấy chứng nhận đăng ký kinh doanh số: 0101659783,
                        <br>
                        đăng ký thay đổi lần thứ 30, ngày 22 tháng 01 năm 2020 do Sở kế hoạch và đầu tư Thành phố Hồ Chí
                        Minh
                        cấp.</span>
                </div>
                <div class="col-md-2">
                    <img style="width: 80%;"
                        src="https://s3img.vcdn.vn/123phim/2018/09/9693e0dbb6ceb3b274afeb6aa09a911f.png" alt="">
                </div>
            </div>
        </div>
    
    
    </div>
</div>