.wrapper__content__title {
  p {
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #666666;
    font-size: 18px;
  }
}
.wrapper_btn {
  margin-bottom: 20px !important;
  .btnFace {
    padding: 10px;
    background: #3a5898;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
  }
  .btnGg {
    @extend .btnFace;
    background: #dd4b39;
  }
}
.form-34or {
  margin-bottom: 27px;
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
  .pros {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: -8.4px;
    display: inherit;
    .or {
      background: #fff;
      padding: 0 8px;
      display: inline-block;
      color: #d4d4d4;
      text-transform: uppercase;
    }
  }
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  .example-full-width {
    width: 100%;
  }
  .sub {
    background: #333333;
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 30px;
    padding: 15px 25px;
    border: none;
    display: block;
    width: 100%;
    transition: 0.3s ease-in;
  }
  .signUp {
    margin-top: 33px;
    color: #666666;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
  }
}
