<button type="button" class="btn btntaoLichChieu" (click)="show()">
    <i class="fa fa-video-camera" aria-hidden="true"></i>
</button>

<div *ngIf="display" class="lichChieu__modal">
    <div class="lichChieu__modal__content">
        <form #form="ngForm" (ngSubmit)="taoLichChieu(form.value)">
            <h3 style="text-align: center; color: grey;">
                Thông tin lịch chiếu phim {{ phim.tenPhim }}
            </h3>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Chọn hệ thống rạp</label>
                            <select class="form-control">
                                <option>BHD Start </option>
                                <option>CGV</option>
                                <option>Galaxycine </option>
                                <option>Cinestar </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Chọn cụm rạp</label>
                            <select class="form-control">
                                <option> Hồ Chí Minh</option>
                                <option> Vũn Tàu</option>
                                <option> Đà Nắng</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">Chọn rạp</label>
                            <select class="form-control">
                                <option> Rạp 1 </option>
                                <option> Rạp 2 </option>
                                <option> Rạp 3 </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Chọn ngày chiếu ,giờ chiếu</label>
                            <input type="text" name="ngayChieuGioChieu" class="form-control" placeholder="" ngModel />
                        </div>


                        <div class="form-group">
                            <label for="">giá vé</label>
                            <input type="number" name="giaVe" class="form-control" placeholder="" ngModel />
                        </div>
                    </div>
                </div>

                <div class="table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Mã lịch chiếu</th>
                                <th>Hệ thống rạp</th>
                                <th>Cụm rạp</th>
                                <th>Ngàu giờ chiéu</th>
                                <th>Giá vé</th>
                                <th>Thời lượng phim</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>HHD start</td>
                                <td>BHD</td>
                                <td>11/02/2000</td>
                                <td>7000</td>
                                <td>120p</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">
                    Close
                </button>
                <button type="button" class="btn btn-primary" type="submit">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>