<!-- header  -->
<header>
  <div class="header-left">
    <button class="showLeftPush" (click)="showSideBar()">
      <i class="fa fa-bars" aria-hidden="true" *ngIf="!show; else close"></i>
      <ng-template #close>
        <i class="fa fa-times" aria-hidden="true"></i>
      </ng-template>
    </button>
    <div class="profile_details_left">
      <ul class="nofitications-dropdown">
        <li class="dropdown head-dpdn">
          <div class="dropdown__header">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <span class="badge">
              4
            </span>
          </div>

          <div class="box__content">
            <ul class="content__lists">
              <li class="list">
                <div class="notification_header">
                  You have 3 new messages
                </div>
              </li>
              <li class="list">
                <div href="" class="list-content">
                  <div class="user_img">
                    <img
                      src="https://lh5.googleusercontent.com/-PYUK7J56KVw/WpArqY4CvBI/AAAAAAABUnY/bA-tJEHptysfJrtzXtOzyZmaXjzEp6YpACLcBGAs/s400-c/anh-sex-maulon-0056250318.jpg"
                      alt="" />
                  </div>
                  <div class="notification_desc">
                    <P>Lorem ipsum dolor amet</P>
                    <P>
                      <span>1 hour ago</span>
                    </P>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="dropdown head-dpdn">
          <div class="dropdown__header">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <span class="badge color1">
              4
            </span>
          </div>
          <div class="box__content">
            <ul class="content__lists">
              <li class="list">
                <div class="notification_header">
                  You have 3 new messages
                </div>
              </li>
              <li class="list">
                <div href="" class="list-content">
                  <div class="user_img">
                    <img
                      src="https://lh5.googleusercontent.com/-PYUK7J56KVw/WpArqY4CvBI/AAAAAAABUnY/bA-tJEHptysfJrtzXtOzyZmaXjzEp6YpACLcBGAs/s400-c/anh-sex-maulon-0056250318.jpg"
                      alt="" />
                  </div>
                  <div class="notification_desc">
                    <P>Lorem ipsum dolor amet</P>
                    <P>
                      <span>1 hour ago</span>
                    </P>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li class="dropdown head-dpdn">
          <div class="dropdown__header">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <span class="badge color2">
              4
            </span>
          </div>
          <div class="box__content">
            <ul class="content__lists">
              <li class="list">
                <div class="notification_header">
                  You have 3 new messages
                </div>
              </li>
              <li class="list">
                <div href="" class="list-progress">
                  <div class="task__info">
                    <span class="task__text">
                      Database update
                    </span>
                    <span class="percentage">
                      20%
                    </span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                      aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                  </div>
                </div>
                <div href="" class="list-progress">
                  <div class="task__info">
                    <span class="task__text">
                      Database update
                    </span>
                    <span class="percentage">
                      30%
                    </span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                      aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                  </div>
                </div>
                <div href="" class="list-progress">
                  <div class="task__info">
                    <span class="task__text">
                      Database update
                    </span>
                    <span class="percentage">
                      100%
                    </span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                      aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-right">
   
   
    <div class="profile_details  " id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
      (click)="showArrow()">
      <img
        src="https://lh5.googleusercontent.com/-PYUK7J56KVw/WpArqY4CvBI/AAAAAAABUnY/bA-tJEHptysfJrtzXtOzyZmaXjzEp6YpACLcBGAs/s400-c/anh-sex-maulon-0056250318.jpg"
        alt="" />
      <div class="profile_details__info">
        <p class="name">
          Admin {{credentialsAdmin.taiKhoan}}
        </p>
        <p class="administrator">
          Administrator
        </p>
      </div>
      <ng-container>
        <i class="fa fa-angle-down" aria-hidden="true" *ngIf="!showDownArrow; else angleUp"></i>
      </ng-container>
      <ng-template #angleUp>
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </ng-template>

      <div class="dropdown-menu" aria-labelledby="triggerId">
        <div class="dropdown-item-admin">
          <i class="fa fa-cog" aria-hidden="true"></i>
          <span>Settings</span>
        </div>
        <div class="dropdown-item-admin">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span> My Account</span>
        </div>
        <div class="dropdown-item-admin">
          <i class="fa fa-suitcase" aria-hidden="true"></i>
          <span> Profile</span>
        </div>
        <div class="dropdown-item-admin" (click)="dangXuat()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          <span> Logout</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- sidebar -->
<div class="sidebar" *ngIf="show">
  <div class="sidebar__brand">
    <i class="fa fa-line-chart" aria-hidden="true"></i>
    <div class="brand__name">
      <span> Glance</span>
      <span>Design dashboard </span>
    </div>
  </div>
  <div class="navigation">
    MAIN NAVIGATION
  </div>
  <ul class="sidebar__menu">
    <li class="sidebar__menu__item " (click)="chosenType('quanLiPhim')" [ngClass]="{active: type == 'quanLiPhim'}">
      <div class="sidebar__menu__item__content">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <span>Quản Lí Phim</span>
      </div>
    </li>
    <li class="sidebar__menu__item" (click)="chosenType('quanLiNguoiDung')"
      [ngClass]="{active: type == 'quanLiNguoiDung'}">
      <div class="sidebar__menu__item__content">
        <i class="fa fa-pie-chart" aria-hidden="true"></i>
        <span>Quản lí người dùng</span>
        <span class="badge badge-red  pull-right">
          new
        </span>
      </div>
    </li>
  </ul>
</div>

<!-- page wrapper -->
<div class="page__wrapper" [ngClass]="{ box: !show }">
  <ng-container *ngIf="type ==='quanLiPhim' ;else quanlinguoidung">
    <app-quanliphim-content ></app-quanliphim-content>
  </ng-container>
  <ng-template #quanlinguoidung>
    <app-quanlinguoidung-content ></app-quanlinguoidung-content>
  </ng-template>

</div>