.cinema-list-item {
  position: relative;
  opacity: .5;
  &::after{
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    content: "";
    transform: translateX(-50%);
    width: calc(100% - 30px);
    border-bottom: 1px solid #fff;
    border-color: rgba(238, 238, 238, 0.88);
  }
  padding: 10px;
  display: flex;
  .cinema-list-item-img {
      padding-right: 10px;
   
    img {
      width: 50px;
    }
  }
  .cinema-list-item-info {
    
    
    .txt {
      font-size: 12px;
      font-weight: bold;
      color: #D4DD29;
      .GLX {
        color: #7FAC51
      }
    }
    .info {
      display: block;
      font-size: 12px;
      color: #fff;
     
     
      
    }
    .detail {
      font-size: 12px;
      color: #f60;
    }
  }
}
.cinema-list-item.active {
  opacity: 1;
}
