.cinema-list-item {
  padding: 10px;
  display: flex;
  .cinema-list-item-img {
      padding-right: 10px;
   
    img {
      width: 50px;
    }
  }
  .cinema-list-item-info {
    
    
    .txt {
      font-size: 12px;
      font-weight: bold;
      .GLX {
        color: #f60;
      }
    }
    .info {
      display: block;
      font-size: 12px;
      color: #949494;
     
     
      
    }
    .detail {
      font-size: 12px;
      color: #f60;
    }
  }
}
