<div class="danhGia">
    <div class="danhGia__about">
        <div class="danhGia__about-left">
            <div class="user-img"><img src="https://tix.vn/app/assets/img/avatar.png" alt="">
                <span>Bạn đang nghĩ gì về phim này</span></div>
            <div class="danhGia__about-right">
                <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
            </div>
        </div>
    </div>

    <div class="userComment">
        <div class="userComment-head">
            <div class="user">
                <img src="http://graph.facebook.com/1200009576677384/picture?width=400&height=400" alt="">
                <div class="user__info">
                    <div class="user_icon">
                        <span class="user__name">Kitto Duy </span>
                        <img src="https://tix.vn/app/assets/img/icons/movieTicket.png" alt="">

                    </div>
                    <span class="time-comment">6 giờ trước</span>
                </div>
            </div>
            <div class="ratingNumber">
                <div class="number">4</div>
                <div class="rating">
                    <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                    <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                </div>

            </div>

        </div>

        <div class="userComment-body">
            <p>Nice one</p>
        </div>

        <div class="userComment-footer">
            <img src="https://tix.vn/app/assets/img/icons/like.png" alt=""> 0 Thích
        </div>

    </div>

    <div class="userComment">
        <div class="userComment-head">
            <div class="user">
                <img src="http://graph.facebook.com/10154722153879569/picture" alt="">
                <div class="user__info">

                    <div class="user_icon">
                        <span class="user__name">Kitto Duy </span>
                        <img src="https://tix.vn/app/assets/img/icons/movieTicket.png" alt="">

                    </div>

                    <span class="time-comment">6 giờ trước</span>
                </div>
            </div>
            <div class="ratingNumber">
                <div class="number">4</div>
                <div class="rating">
                    <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                    <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                </div>

            </div>

        </div>

        <div class="userComment-body">
            <p>Ghế FC rất thoải mái.</p>
        </div>

        <div class="userComment-footer">
            <img src="https://tix.vn/app/assets/img/icons/like.png" alt=""> 0 Thích
        </div>

    </div>





    <div class="viewMore">
        <button class="btn-viewMore">Xem Thêm</button>
    </div>

</div>