
<div class="dienAnh mt-5">
    <div class="row ">
        <div class="col-md-6">
            <div class="dienAnh-item">
                <div class="dienAnh-img">
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2020/01/cung-nhau-cam-lang-voi-trailer-moi-cua-sieu-pham-a-quiet-place-2-15789917775487.jpg"
                        alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Cùng nhau câm lặng với trailer mới của siêu phẩm A Quiet Place 2</p>
                    <span>Một vùng đất mới, một câu chuyện mới và một nỗi lo mới.</span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="dienAnh-item">
                <div class="dienAnh-img">
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2020/01/8c53c7f038b7d0cca9b7a6edf5ff597b.jpg" alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Cùng nhau câm lặng với trailer mới của siêu phẩm A Quiet Place 2</p>
                    <span>Một vùng đất mới, một câu chuyện mới và một nỗi lo mới.</span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

    </div>

    <div class="row  mt-3">
        <div class="col-md-4">
            <div class="dienAnh-item">
                <div class="dienAnh-img" style="height:200px">
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2020/03/cac-rap-chieu-phim-tai-thanh-pho-ho-chi-minh-hue-tam-dung-hoat-dong-tu-18h00-ngay-15-03-2020-den-31-03-2020-15843570029298.jpg" alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Cùng nhau câm lặng với trailer mới của siêu phẩm A Quiet Place 2</p>
                    <span>Theo chỉ đạo của UBND TP.HCM và TP. Huế, để đảm bảo an toàn cho khách hàng và phòng tránh nguy cơ lây lan của dịch COVID-19, TIX xin phép </span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dienAnh-item">
                <div class="dienAnh-img" style="height:200px" x>
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2020/03/837f23782617347393261b53bb9e43cc.jpg" alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Dàn diễn viên 'siêu hot' góp mặt trong Bloodshot gồm có những ai?</p>
                    <span>Là tác phẩm mở màn cho Vũ trụ Điện ảnh Valiant, chắc hẳn những cái tên bảo chứng phòng vé cũng là lý do sẽ mang đến thành công cho Bloodshot.</span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="listNews">
                   <app-item-tin-tuc *ngFor="let new of news" [news]="new" ></app-item-tin-tuc>
                  
            </div>
        </div>

    </div>

    
</div>