<!-- <div class="row">
    <div class="col-4">
        <app-item-tin-tuc></app-item-tin-tuc>
    </div>
    <div class="col-4">
        <app-item-tin-tuc></app-item-tin-tuc>
    </div>
    <div class="col-4">
        <app-item-tin-tuc></app-item-tin-tuc>
    </div>
</div> -->

<div class="dienAnh mt-5">
    <div class="row ">
        <div class="col-md-6">
            <div class="dienAnh-item">
                <div class="dienAnh-img">
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2020/01/mua-ve-cgv-tren-tix-gia-chi-79k-15786524292810.jpg"
                        alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Cùng nhau câm lặng với trailer mới của siêu phẩm A Quiet Place 2</p>
                    <span>Một vùng đất mới, một câu chuyện mới và một nỗi lo mới.</span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="dienAnh-item">
                <div class="dienAnh-img">
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2019/11/123phim-thu-6-khong-den-toi-uu-dai-huy-diet-11k-ve-anh-trai-yeu-quai-15746782357665.jpg" alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Cùng nhau câm lặng với trailer mới của siêu phẩm A Quiet Place 2</p>
                    <span>Một vùng đất mới, một câu chuyện mới và một nỗi lo mới.</span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

    </div>

    <div class="row  mt-3">
        <div class="col-md-4">
            <div class="dienAnh-item">
                <div class="dienAnh-img" style="height:200px">
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2019/11/123phim-nhap-ma-psm30k-giam-ngay-30k-khi-dat-ve-phap-su-mu-ai-chet-gio-tay-15729439150313.jpg" alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Cùng nhau câm lặng với trailer mới của siêu phẩm A Quiet Place 2</p>
                    <span>Một vùng đất mới, một câu chuyện mới và một nỗi lo mới.</span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dienAnh-item">
                <div class="dienAnh-img" style="height:200px" x>
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2019/10/mega-gs-mot-doa-hoa-thay-ngan-loi-yeu-15713106171102.jpg" alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Cùng nhau câm lặng với trailer mới của siêu phẩm A Quiet Place 2</p>
                    <span>Một vùng đất mới, một câu chuyện mới và một nỗi lo mới.</span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="listNews">
                <div class="new">
                    <div class="new-img">
                        <img class="img-fluid"
                            src="https://s3img.vcdn.vn/123phim/2019/12/eca2a68b21bd1948add145f88e89b578.jpg" alt="">

                    </div>
                    <div class="new-info">
                        <p>Bạn đã sẵn sàng nắm tất tần tật kiến thức trong One Piece: Stampede?</p>
                    </div>
                </div>
                <div class="new">
                    <div class="new-img">
                        <img class="img-fluid"
                            src="https://s3img.vcdn.vn/123phim/2019/12/eca2a68b21bd1948add145f88e89b578.jpg" alt="">

                    </div>
                    <div class="new-info">
                        <p>Bạn đã sẵn sàng nắm tất tần tật kiến thức trong One Piece: Stampede?</p>
                    </div>
                </div>
                <div class="new">
                    <div class="new-img">
                        <img class="img-fluid"
                            src="https://s3img.vcdn.vn/123phim/2019/12/eca2a68b21bd1948add145f88e89b578.jpg" alt="">

                    </div>
                    <div class="new-info">
                        <p>Bạn đã sẵn sàng nắm tất tần tật kiến thức trong One Piece: Stampede?</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    
</div>