<div class="homeTools">
    <div class=" dropdown  dropdown_phim">
      <div class="text">Phim</div>
      <div class="icon"><i class="fa fa-caret-down" aria-hidden="true" style="cursor: pointer;"></i></div>
      <div class="dropdown__content">
        <ul class="list">
          <li class="item">
            <a href="">Nắng 3: Lời Hứa Của Cha (C16)</a>

          </li>
          <li class="item">
            <a href="">Truy Tìm Phép Thuật - Onward</a>

          </li>
          <li class="item">
            <a href="">Quý Ông Sở Thú - Mr. Zoo: The Missing VIP (C13)</a>

          </li>
        </ul>
      </div>
    </div>
    <div class=" dropdown  dropdown_rap ">
      <div class="text">Rạp</div>
      <div class="icon"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
      <div class="dropdown__content">
        <ul class="list">
          <li class="item">
            <a href="">Vui lòng chọn phim</a>

          </li>

        </ul>
      </div>
    </div>
    <div class=" dropdown  dropdown_ngayxem">
      <div class="text">Ngày xem</div>
      <div class="icon"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
      <div class="dropdown__content">
        <ul class="list">
          <li class="item">
            <a href="">Vui lòng chọn phim và rạp</a>

          </li>

        </ul>
      </div>
    </div>
    <div class=" dropdown  dropdown_xuatchieu">
      <div class="text">Suất chiếu</div>
      <div class="icon"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
      <div class="dropdown__content">
        <ul class="list">
          <li class="item">
            <a href="">Vui lòng chọn phim rạp và ngày xem</a>

          </li>

        </ul>
      </div>
    </div>
    <div class=" dropdown  muave">
      <button>Mua vé ngay</button>
    </div>
  </div>