.homeTools {
  display: flex;
  max-width: 940px;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  border-radius: 5px;
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;

  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;

    cursor: pointer;
    &:hover {
      .dropdown__content {
        display: block;
        width: 100%;
      }
    }
  }
  .dropdown_phim {
    width: 282px;

    .dropdown__content {
      position: absolute;
      top: 75%;
      left: 0;
      background-color: #fff;
      border-radius: 4px;
      padding: 5px 0;
      margin: 2px 0 0;
      font-size: 14px;
      z-index: 99;
      border: 1px solid rgba(0, 0, 0, 0.15);
      display: none;

      .list {
        list-style: none;
        padding: 0;
        .item {
          padding: 0;
         
          p {
            padding: 3px 20px;

            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            margin: 0;

            &:hover {
              background-color: #60c5ef;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .dropdown_rap {
    @extend .dropdown_phim;
    width: 164px;
  }
  .dropdown_ngayxem {
    @extend .dropdown_phim;
    width: 164px;
  }
  .dropdown_xuatchieu {
    @extend .dropdown_phim;
    width: 164px;
  }
  .muave {
    width: 164px;
    .btnMuave {
      color: #fff;
      background-color: #4a4a4a;
      border: none;
      text-transform: uppercase;
      border-radius: 4px;
      padding: 10px 10px;
    }
    .btnMuave.active {
      background-color: #87c243;
      color: #fff;
    }
  }
}
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .homeTools{
    display: none;
  }
}
@media screen and (max-width: 740px) {
  .homeTools{
    display: none;
  }
}


