<div class="homeTools">
  <div class=" dropdown  dropdown_phim">
    <div class="text" *ngIf="showPhim === ''; else phim">Phim</div>
    <ng-template #phim>
      <div class="text"> {{ showPhim }}</div>
    </ng-template>
    <div class="icon">
      <i class="fa fa-caret-down" aria-hidden="true" style="cursor: pointer;"></i>
    </div>
    <div class="dropdown__content ">
      <ul class="list">
        <li class="item dropdown-item" *ngFor="let phim of DanhSachPhim" (click)="selectPhim(phim.tenPhim)">
          <p>{{ phim.tenPhim }}</p>
        </li>
      </ul>
    </div>
  </div>

  <div class=" dropdown  dropdown_rap ">
    <div class="text" *ngIf="showRap === ''; else rap">Rạp</div>
    <ng-template #rap>
      <div class="text">{{ showRap }}</div>
    </ng-template>

    <div class="icon"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
    <div class="dropdown__content">
      <ul class="list">
        <li class="item">
          <p *ngIf="showPhim === ''; else Rap">
            Vui lòng chọn phim
          </p>
          <ng-template #Rap>
            <p *ngFor="let rap of dsRap" (click)="selectRap(rap)">{{rap}} </p>

          </ng-template>
        </li>
      </ul>
    </div>
  </div>
  <div class=" dropdown  dropdown_ngayxem">
    <div class="text" *ngIf="showNgayXem === ''; else ngayxem">Ngày xem</div>
    <ng-template #ngayxem>
      <div class="text">{{ showNgayXem }}</div>
    </ng-template>
    <div class="icon"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
    <div class="dropdown__content">
      <ul class="list">
        <li class="item">
          <p *ngIf="showRap === ''; else ngayXem">Vui lòng chọn phim và rạp</p>
          <ng-template #ngayXem>
            <p (click)="selectNgayXem(' 2020-05-11')">Hôm nay
              <span class="date" style="display: block; color: #aaa; font-size: 11px;">
                2020-05-11
              </span>
            </p>
            <p (click)="selectNgayXem('2020-05-12')">Ngày mai
              <span class="date" style="display: block; color: #aaa; font-size: 11px;">
                2020-05-12
              </span>
            </p>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
  <div class=" dropdown  dropdown_xuatchieu">
    <div class="text" *ngIf="showSuatChieu ==='' ;else suatchieu">Suất chiếu</div>
    <ng-template #suatchieu>

      <div class="text"> {{ showSuatChieu }}</div>
    </ng-template>
    <div class="icon"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
    <div class="dropdown__content">
      <ul class="list">
        <li class="item">
          <p *ngIf="showNgayXem === ''; else suatChieu">
            Vui lòng chọn phim ,rạp và ngày xem
          </p>
          <ng-template #suatChieu>
            <p (click)="selectSuatChieu('17:40')">17:40</p>
            <p (click)="selectSuatChieu('20:00')">20:00</p>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
  <div class=" dropdown  muave">
    <button class="btnMuave " [ngClass]="{active: showSuatChieu}" [disabled]="!showSuatChieu"
      (click)="muaVe($event)">Mua vé ngay</button>
  </div>
</div>