.movie__item {
  position: relative;
  margin: 20px 0;
  .movie__item__cotent {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      transition: 0.3s ease-in-out;
      transform: scale(1);
      height: 318px;
      border-radius: 5px;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  .name {
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "SF Medium";
    line-height: 22px;
    font-weight: 600;
    color: #fdfffd;
    padding: 5px 5px;
  }
  .btnDatve {
    background-color: #45ab3d;
    border: none;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;

    font-weight: 500;
    margin-top: 10px;
    &:hover {
      background-color: #fff;
      color: #45ab3d;
    }
  }
}
