.page__wrapper_manage {
  table {
    text-align: left;
    margin-bottom: 50px;
    tbody {
      tr {
        .thaoTac {
          .btn {
            padding: 10px;
            color: #fff;
            margin: 0 5px;
          }
          .btnSua {
            background-color: red;
          }
          .btnXoa {
            background-color: green;
          }
        }
      }
    }
  }
}
