<div class="row" style="justify-content: space-between ; align-items: center;">
  <app-them-phim (emitterFilm)="addPhim($event)"></app-them-phim>
  <div class="form-group">
    <!-- <input type="text" name="search" [(ngModel)]="searchText" autocomplete="off" (input)="search()"  placeholder="Tìm kiếm"> -->
    <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder=" Tìm kiếm"
      style="padding: 10px; border: 1px solid gray;"
    />
  </div>
</div>

<div class="page__wrapper_manage">
  <table class="table table-striped table-inverse">
    <thead class="thead-inverse">
      <tr class="header__title">
        <th>Mã Phim</th>
        <th>Tên Phim</th>
        <th>Hình Ảnh</th>
        <!-- <th>Mô Tả</th> -->
        <th>Ngày Chiếu</th>
        <th>Thao Tác</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="item"
        *ngFor="
          let phim of movieList
            | filter: searchText
            | paginate: { itemsPerPage: 5, currentPage: currentPage }
        "
      >
        <td class="maPhim">{{ phim.maPhim }}</td>
        <td class="tenPhim">{{ phim.tenPhim }}</td>
        <td class="hinhAnh">
          <img [src]="phim.hinhAnh" alt="" style="width: 50px; height: 50px;" />
          <button class="btn btn-success ml-3" (click)="upLoad(phim.tenPhim)">
            upload
          </button>
          <input type="file" (change)="onFileSelected($event)" />
        </td>
        <!-- <td  class="moTa"style="white-space: normal;"> {{phim.moTa}} </td> -->
        <td class="ngayChieu">{{ phim.ngayKhoiChieu | date: "medium" }}</td>
        <td class="thaoTac">
          <button class="btnSua btn ">
            <i class="fa fa-wrench" aria-hidden="true"></i>
          </button>
          <button class="btnXoa btn " (click)="deleteFilm(phim)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
          <app-tao-lich-chieu [phim]="phim"></app-tao-lich-chieu>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls
    style="text-align: center;"
    (pageChange)="currentPage = $event"
  ></pagination-controls>
</div>
