<div class="InfoFilm">
    <div class="infoFilm__cotent row">
        <div class="col-md-6 infoFilm__cotent-left">
            <div class="row rowLeftInfo">
                <p class="contentTitle">Ngày phát hành</p>
                <p class="contentInfo ng-binding">14.02.2020</p>
            </div>
            <div class="row rowLeftInfo">
                <p class="contentTitle">Đạo diễn</p>
                <p class="contentInfo ng-binding">Son Jae-gon</p>
            </div>
            <div class="row rowLeftInfo">
                <p class="contentTitle">Diễn viên</p>
                <p class="contentInfo ng-binding"></p>
            </div>
            <div class="row rowLeftInfo">
                <p class="contentTitle">Thể Loại</p>
                <p class="contentInfo ng-binding">hài hước</p>
            </div>
            <div class="row rowLeftInfo">
                <p class="contentTitle">Định dạng</p>
                <p class="contentInfo ng-binding">2D/Digital</p>
            </div>
            <div class="row rowLeftInfo">
                <p class="contentTitle">Quốc Gia SX</p>
                <p class="contentInfo ng-binding">Hàn Quốc</p>
            </div>
        </div>
        <div class="col-md-6 infoFilm__cotent-right">
            <div class="rowLeftInfo">Nội dung</div>
            <div class="rowLeftInfo">
                Một luật sự tập sự tên Tae-soo (Ahn Jae-hong) được công ty giao nhiệm vụ tiếp quản việc kinh doanh của
                vườn thú khi gần như tất cả các con thú đã bị bán đi. Một ý tưởng táo bạo đã được đưa ra để cứu vườn thú
                “thoát ế”: Các nhân viên phải mặc các bộ đồ thú và diễn như những con thú “thứ thiệt”. Mọi chuyện bất
                ngờ vượt khỏi tầm kiểm soát khi sở thú đột nhiên trở thành hiện tượng trên mạng xã hội. Các nhân viên
                phải làm gì nếu mọi chuyện vỡ lở?
            </div>
        </div>
    </div>
    <div class="newsMoreHot">
        <div class="rowLeftInfo">
            Tin liên quan
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="new-item">
                        <img src="https://s3img.vcdn.vn/123phim/2020/01/cung-cuoi-nghieng-nga-dau-nam-voi-so-thu-thoat-e-sieu-hai-sieu-lay-15795050157113.jpg"
                            alt="">
                        <div class="new__info">
                            <p>
                                Cùng cười nghiêng ngả đầu năm với Sở Thú Thoát Ế siêu hài, siêu lầy

                            </p>
                            <div class="newLikeComment">
                                <div class="new__like">
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 0

                                </div>
                                <div class="new__comment">
                                    <img src="https://tix.vn/app/assets/img/icons/comment_white.png" alt=""> 0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>