<!-- Modal -->

<button type="button"  data-toggle="modal" data-target="#modelThemPhim" mat-stroked-button>
  Thêm Phim
</button>
<div class="modal fade" id="modelThemPhim" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thêm Phim</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #formThemPhim="ngForm" (ngSubmit)="addFilm(formThemPhim)">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label>Mã Phim</mat-label>
                <input matInput placeholder="" value="" ngModel name="maPhim" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Tên Phim</mat-label>
                <input matInput placeholder="" value="" ngModel name="tenPhim" />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Trailer</mat-label>
                <input matInput placeholder="" value="" ngModel name="trailer" />
              </mat-form-field>
            </div>
            <div class="col-md-6 col-sm-6">
              <mat-form-field class="example-full-width">
                <mat-label>Ngày chiếu</mat-label>
                <input matInput placeholder="" value="" ngModel name="ngayKhoiChieu" />
              </mat-form-field>

             <div class="form-group">
               <label for="">Hình ảnh</label>
               <input type="file" ngModel name="hinhAnh" />
             </div>
            </div>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Mô tả</mat-label>
              <textarea matInput ngModel name="moTa"></textarea>
            </mat-form-field>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Thêm</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Đóng
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>