
<div class="dienAnh mt-5">
    <div class="row ">
        <div class="col-md-6">
            <div class="dienAnh-item">
                <div class="dienAnh-img">
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2020/01/cung-nhau-cam-lang-voi-trailer-moi-cua-sieu-pham-a-quiet-place-2-15789917775487.jpg"
                        alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Cùng nhau câm lặng với trailer mới của siêu phẩm A Quiet Place 2</p>
                    <span>Một vùng đất mới, một câu chuyện mới và một nỗi lo mới.</span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="dienAnh-item">
                <div class="dienAnh-img">
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2020/01/8c53c7f038b7d0cca9b7a6edf5ff597b.jpg" alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Cùng nhau câm lặng với trailer mới của siêu phẩm A Quiet Place 2</p>
                    <span>Một vùng đất mới, một câu chuyện mới và một nỗi lo mới.</span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

    </div>

    <div class="row  mt-3">
        <div class="col-md-4">
            <div class="dienAnh-item">
                <div class="dienAnh-img" style="height:200px">
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2020/01/9d3c3c5edb8d4c7cad12e469c3f149f6.jpg" alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Cùng nhau câm lặng với trailer mới của siêu phẩm A Quiet Place 2</p>
                    <span>Một vùng đất mới, một câu chuyện mới và một nỗi lo mới.</span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="dienAnh-item">
                <div class="dienAnh-img" style="height:200px" x>
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2020/01/b9ec8ac5d0c03f7e17c35424924d8d1f.jpg" alt="">

                </div>
                <div class="dienAnh-info">
                    <p>Cùng nhau câm lặng với trailer mới của siêu phẩm A Quiet Place 2</p>
                    <span>Một vùng đất mới, một câu chuyện mới và một nỗi lo mới.</span>

                </div>
                <div class="blockIconFacebook">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>0
                    <i class="fa fa-comment-o" aria-hidden="true"></i>0
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="listNews">
                <div class="new">
                    <div class="new-img">
                        <img class="img-fluid"
                            src="https://s3img.vcdn.vn/123phim/2019/12/eca2a68b21bd1948add145f88e89b578.jpg" alt="">

                    </div>
                    <div class="new-info">
                        <p>Bạn đã sẵn sàng nắm tất tần tật kiến thức trong One Piece: Stampede?</p>
                    </div>
                </div>
                <div class="new">
                    <div class="new-img">
                        <img class="img-fluid"
                            src="https://s3img.vcdn.vn/123phim/2019/12/eca2a68b21bd1948add145f88e89b578.jpg" alt="">

                    </div>
                    <div class="new-info">
                        <p>Bạn đã sẵn sàng nắm tất tần tật kiến thức trong One Piece: Stampede?</p>
                    </div>
                </div>
                <div class="new">
                    <div class="new-img">
                        <img class="img-fluid"
                            src="https://s3img.vcdn.vn/123phim/2019/12/eca2a68b21bd1948add145f88e89b578.jpg" alt="">

                    </div>
                    <div class="new-info">
                        <p>Bạn đã sẵn sàng nắm tất tần tật kiến thức trong One Piece: Stampede?</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

    
</div>