<!-- header checkout -->
<header>
    <div class="row">
        <div class="col-md-6 col-sm-12 header__left">
            <ul>
                <li class="active"><span class="stepnumber">01</span> CHỌN LOẠI VÉ</li>
                <li><span class="stepnumber">02</span> CHỌN GHẾ & THANH TOÁN</li>
                <li><span class="stepnumber">03</span> KẾT QUẢ ĐẶT VÉ</li>
            </ul>
        </div>
        <div class="col-md-6  header__right">
            <div class="header__right__info">
                <img src="https://graph.facebook.com/198385967933190/picture?type=square" alt="">
                <span>Nguyễn Toàn</span>
            </div>
        </div>
    </div>
</header>

<!-- checkout body -->
<div class="chooseTiket">
    <div class="chooseTiket__left">
        <img class="" src="https://s3img.vcdn.vn/123phim/2020/01/dao-kinh-hoang-fantasy-island-15803702013201.jpg"
            alt="">
        <div class="overplay">
            <div class="arrow">
                <img src="https://tix.vn/app/assets/img/icons/prev_checkout.png" alt="">

            </div>
            <div class="Film">
                <p class="today"></p>
                <p><span>C18</span>
                    Đảo Kinh Hoàng</p>
                <p class="time">
                    109 phút - TIX - IMDb 0 - 2D/L.Tiếng
                </p>

            </div>
        </div>
    </div>
    <div class="chooseTiket__right"></div>
</div>