<header>
    <div class="row">
        <div class="col-md-6 col-sm-12 header__left">
            <ul>
                <li class="active"><span class="stepnumber">01</span> CHỌN LOẠI VÉ</li>
                <li><span class="stepnumber">02</span> CHỌN GHẾ & THANH TOÁN</li>
                <li><span class="stepnumber">03</span> KẾT QUẢ ĐẶT VÉ</li>
            </ul>
        </div>
        <div class="col-md-6  header__right">
            <div class="header__right__info">
                <img src="https://graph.facebook.com/198385967933190/picture?type=square" alt="" />
                <span>Nguyễn Toàn</span>
            </div>
        </div>
    </div>
</header>