header {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  height: 80px;
  .header__left {
    ul {
      padding: 0;
      display: flex;
      justify-content: space-around;
      margin: 0;

     

      li {
        list-style: none;
        font-family: "SF Medium";
        text-transform: uppercase;
        line-height: 80px;
      }
      .active {
        color: #fb4226;
        font-size: 14px;
        border-top: 1px solid #fb4226;
      }
    }
  }
  .header__right {
    .header__right__info {
      .header__right__info__content {
        display: inline-block;
        cursor: pointer;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 10px;
        }
        span {
          color: #9b9b9b;
        }
      }
      text-align: right;
      height: 100%;
      line-height: 80px;
      padding-right: 55px;
    }
  }
}

@media screen and (max-width: 740px) {
  .hidden__mobile {
    display: none;
  }
}
