<div class="detailMainInfo">
  <img
    class="img-main"
    src="https://s3img.vcdn.vn/mobile/123phim/2020/02/cau-be-ma-2-brahms-the-boy-2-c18-15813270905701_215x318.jpg"
    alt=""
  />
  <div class="overplay"></div>
  <div class="detailFilm ">
    <div class="detailFilm-top">
      <div class="row">
        <div class="col-md-3 detailFilm-img">
          <img
            class="img-fluid"
            src="https://s3img.vcdn.vn/mobile/123phim/2020/02/cau-be-ma-2-brahms-the-boy-2-c18-15813270905701_215x318.jpg"
            alt=""
          />
        </div>
        <div class="col-md-6 detailFilm-text">
          <span class="dateFilm">21.02.2020</span>
          <span class="nameFilm"
            ><span class="agetext">C16</span> Cậu Bé Ma 2 - Brahms: The Boy
            2</span
          >
          <span class="time">
            100 phút - 0 IMDb - 2D/Digital
          </span>
          <button class="ticket">
            Mua vé
          </button>
        </div>
        <div class="col-md-3 detailFilm-rating">
          <div class="circleStar ">
            <div class="circleStar__number">7.7</div>
          </div>
          <div class="rartingStart">
            <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="" />
            <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="" />
            <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="" />
            <img
              class="number"
              src="https://tix.vn/app/assets/img/icons/star1.2.png"
              alt=""
            />
            <span class="comment">202 người đánh giá</span>
          </div>
        </div>
      </div>
    </div>

    <div class="detail-nav">
      <ul>
        <li
          [ngClass]="{ active: loai == 'lichchieu' }"
          (click)="chonLoai('lichchieu')"
        >
          Lịch Chiếu
        </li>
        <li
          [ngClass]="{ active: loai == 'thongtin' }"
          (click)="chonLoai('thongtin')"
        >
          Thông Tin
        </li>
        <li
          [ngClass]="{ active: loai == 'danhgia' }"
          (click)="chonLoai('danhgia')"
        >
          Đánh Giá
        </li>
      </ul>
    </div>

    <div [ngSwitch]="loai">
      <div *ngSwitchCase="'lichchieu'">
        <app-lich-chieu></app-lich-chieu>
      </div>
      <div *ngSwitchCase="'thongtin'">
        <app-thong-tin-film></app-thong-tin-film>
      </div>
      <div *ngSwitchCase="'danhgia'">
        <app-danh-gia></app-danh-gia>
      </div>
    </div>
  </div>
</div>
