<div class="btn-capnhat ">
    <button class="btn btn-success" data-toggle="modal" data-target="#modelCapNhat">
        cập nhật
    </button>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="modelCapNhat" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="color:#000;">
            <div class="modal-header ">
                <h5 class="modal-title ">Cập nhật</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <form>
                    <div class="form-group">
                        <label for="">Email</label>
                        <input type="email" name="" id="" class="form-control" placeholder="Email"
                            aria-describedby="helpId" />
                    </div>
                    <div class="form-group">
                        <label for="">Họ Tên</label>
                        <input type="text" name="" id="" class="form-control" placeholder="Họ Tên"
                            aria-describedby="helpId" />
                    </div>
                    <div class="form-group">
                        <label for="">Tài khoản</label>
                        <input type="text" name="" id="" class="form-control" placeholder="Tài khoản"
                            aria-describedby="helpId" />
                    </div>
                    <div class="form-group">
                        <label for="">Mật khẩu</label>
                        <input type="text" name="" id="" class="form-control" placeholder="Mật khẩu"
                            aria-describedby="helpId" />
                    </div>
                    <div class="form-group">
                        <label for="">Số điện thoại</label>
                        <input type="text" name="" id="" class="form-control" placeholder="Số điện thoại"
                            aria-describedby="helpId" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
