<div class="detailFilm-bottom">
  <div class="detailFilm-bottom--left">
    <ul class="cinema-list">
      <li class="cinema-list-item" [ngClass]="{active: valueDefaut == rap.maHeThongRap}" *ngFor="let rap of heThongRapChieu"
        style="cursor: pointer;" (click)="selectRap(rap.cumRapChieu,rap.maHeThongRap)">
        <div class="cinema-list-item-content">
          <img [src]="rap.logo" alt="" />
          <div class="cinema-info">
            <h5 style="text-transform: uppercase;">{{ rap.tenHeThongRap }}</h5>
            <span>79k/vé CGV x3 vé cuối tuần</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="detailFilm-bottom--right">

    <div class="cinemaFilm">
      <div class="cinemaFilm-tab-item accordion" *ngFor="let item of cumRapChieu" id="accordionExample"
        style="cursor: pointer;">
        <div class="cinemaFilm-tab-top" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          <img src="https://s3img.vcdn.vn/123phim/2018/09/cgv-crescent-mall-15380174094679.jpg" alt="" />
          <div class="cinemaFilm-item--info">
            <span class="cinema-name"> {{ item.tenCumRap }} </span>
            <span class="cinema-map">Lầu 5, Crescent Mall Đại lộ Nguyễn Văn Linh, Phú Mỹ Hưng Quận 7
              TP. Hồ Chí Minh</span>
          </div>
        </div>
        <div class="cinemaFilm-tab-bot collapse show" id="collapseOne" aria-labelledby="headingOne"
          data-parent="#accordionExample">
          <h5 href="">2D Digital | Cine & Living Room</h5>
          <div class="time-film mx-2" *ngFor="let lich of lichChieuPhim"><span class="text-clolor">
              {{ lich.ngayChieuGioChieu | date:'mm:ss'   }} </span> ~
            14:37</div>
        </div>
      </div>
    </div>
  </div>
</div>