.detailFilm-bottom {
  display: flex;
  background-color: transparent;
  border-radius: 4px;
  height: 500px;
  border: 1px solid #ebebec;

  .detailFilm-bottom--left {
    border-right: 1px solid #ebebec;
    width: 248px;
    .cinema-list {
      padding: 0;
      .cinema-list-item {
        padding: 15px 10px;
        list-style: none;
        opacity: 0.5;
        .cinema-list-item-content {
          color: #fff;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #ebebec;
          padding-bottom: 10px;
          img {
            width: 50px;
            height: 50px;
          }
          .cinema-info {
            margin-left: 18px;
            h3 {
              margin: 0;
            }
            span {
              font-size: 13px;
              color: #87c243;
            }
          }
        }
      }
      .cinema-list-item.active {
        opacity: 1;
      }
    }
  }

  .detailFilm-bottom--right {
    overflow-y: auto;
    width: 627px;
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #888; 
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
   
    .order {
      .order-list {
        margin: 0;
        padding: 10px;

        .order-item {
          list-style: none;
          display: inline-block;
          p {
            margin: 0;
            text-align: center;
          }
        }
      }
    }
    .cinemaFilm {
      padding: 0 21px;
      .cinemaFilm-tab-item {
        margin: 22px 0;
        color: #fff;
        .cinemaFilm-tab-top {
          display: flex;
          img {
            width: 50px;
            height: 50px;
          }
          .cinemaFilm-item--info {
            margin-left: 14px;
            span {
              display: block;
            }
            .cinema-name {
              color: #fb4226;
            }
            .cinema-map {
              font-size: 13px;
            }
          }
        }
        .cinemaFilm-tab-bot {
          margin-top: 27px;
          h5 {
            font-size: 15px;
            margin: 15px 0;
          }
          .time-film {
            text-align: center;
            background-color: #fff;
            border-radius: 7px;
            color: #9b9b9b;
            border: 1px solid #e4e4e4;
            padding: 8px;
            margin: 10px 0;
            display: inline-block;
            .text-clolor {
              font-weight: 400;
              font-size: 20px;
              color: #87c243;
              &:hover {
                color: #fb4226;
              }
            }
          }
        }
      }
    }
  }
}
