<div class="cinema">
    <div class="cinema-navigation">
        <ul>
            <li>
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2018/09/ee621ee05dcd4565caead4f29421b41e.png" alt="" />
                </a>
            </li>

            <li>
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2018/09/ee621ee05dcd4565caead4f29421b41e.png" alt="" />
                </a>
            </li>

            <li>
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2018/09/ee621ee05dcd4565caead4f29421b41e.png" alt="" />
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2018/09/ee621ee05dcd4565caead4f29421b41e.png" alt="" />
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2018/09/ee621ee05dcd4565caead4f29421b41e.png" alt="" />
                </a>
            </li>
            <li>
                <a href="">
                    <img src="https://s3img.vcdn.vn/123phim/2018/09/ee621ee05dcd4565caead4f29421b41e.png" alt="" />
                </a>
            </li>
        </ul>
    </div>

    <div class="cinema-tab-content">
        <app-cinema-item></app-cinema-item>
        <app-cinema-item></app-cinema-item>
        <app-cinema-item></app-cinema-item>
        <app-cinema-item></app-cinema-item>
        <app-cinema-item></app-cinema-item>
    </div>
    <div class="cinema-listFilm">
        <app-cinema-film-item></app-cinema-film-item>

        <app-cinema-film-item></app-cinema-film-item>

        <app-cinema-film-item></app-cinema-film-item>
        <app-cinema-film-item></app-cinema-film-item>

        <app-cinema-film-item></app-cinema-film-item>

        <app-cinema-film-item></app-cinema-film-item>



    </div>
</div>