
.row{
    margin: 0;
}
.profileHistory {
  .profileHistory__list {
    list-style: none;
    padding: 0;
    .profileHistory__list-item {
       padding: 20px;
      .profileHistory__list-item---left {
        img{
            width: 100px;
        }
      }
      .profileHistory__list-item---right{
          .cinema{
              img{
                  width: 60px;
              }
          }
      }
    }
  }
}
