<div class="profileHistory">
    <ul class="profileHistory__list">
        <table class="table table-striped table-inverse ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên Phim</th>
                    <th>Giá vé</th>
                    <th>Ngày đặt vé</th>
                    <th>Thời lượng phim</th>

                </tr>
            </thead>
            <tbody>
                <app-profile-history-item *ngFor="let thongTin of thongTinDatVe" [thongTin]="thongTin">
                </app-profile-history-item>
                <tr *ngFor="
            let item of thongTinDatVe
             ;
            let i = index
          ">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.tenPhim  }}</td>
                    <td>{{ item.giaVe   }}</td>
                    <td>{{ item.ngayDat  }}</td>
                    <td> {{item.thoiLuongPhim}}p </td>
                </tr>
            </tbody>
        </table>
    </ul>
    <!-- <pagination-controls class="my-pagination" (pageChange)="currentPage = $event"></pagination-controls>    -->
</div>