<app-header (emitStatus)="reciveStatus($event)"></app-header>
<app-slider></app-slider>
<div class="warpper">
  <div class="container text-center pt-5">
    <app-loai-phim [danhSachPhimDangChieu]="danhSachPhimDangChieu" [danhSachPhimSapChieu]="danhSachPhimSapChieu">
    </app-loai-phim>


  </div>
  <div class="container">
    <app-cinema></app-cinema>
  </div>
  <div class="container">
    <app-tintuc></app-tintuc>
  </div>
  <app-footer></app-footer>
</div>


<!-- modal_login_registered  -->
<app-modal-login-register (emitUser)="reciveUser($event)"></app-modal-login-register>
<!-- end  -->