<ng-container>
  <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="large">
    <p class="loading" style="color: #ffff;">Loading Awesomeness...</p>
  </ngx-spinner>
</ng-container>
<app-header></app-header>
<app-slider></app-slider>
<div class="warpper">
  <div class="container text-center pt-5">
    <app-loai-phim [danhSachPhimDangChieu]="danhSachPhimDangChieu" [danhSachPhimSapChieu]="danhSachPhimSapChieu">
    </app-loai-phim>
  </div>
  <div class="container">
    <app-cinema></app-cinema>
  </div>
</div>
<div class="warpper__tinTuc pt-5">
  <div class="container ">
    <app-tintuc></app-tintuc>
  </div>
</div>
<app-footer></app-footer>


