header {
  position: relative;
  height: 70px;
  background: #111111;
  .header__content {
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 10px 10px;
    .navigate-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      .logo {
        width: 70px;
        height: 74px;
        cursor: pointer;
        outline: none;
      }
    }
    .social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .social__img {
        width: 55px;
        height: 55px;
        margin-right: 10px;
        transition: transform 0.8s ease-in-out;
        &:hover {
          transform: rotate(360deg);
        }
      }
      .social__sub {
        color: #fff;
        padding-right: 40px;
        .social__sub-item {
          font-size: 20px;
          font-weight: 700;
          margin: 0 5px;
        }
        .social__sub__active {
          color: #89c441;
        }
      }
    }

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .user__content {
        display: flex;
        align-items: center;
        background-color: #2a3035;
        .user__img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        p {
          color: #9b9b9b;
          display: inline-block;
          padding: 0 10px;
          margin: 0;
          cursor: pointer;
        }
      }
      .modal {
 
        overflow-y: hidden;
        .modal-dialog {
          max-width: 400px;
          .modal-content {
           
            .wrapper {
              .wrapper__content {
              
                padding: 20px;
                text-align: center;
                .dangNhap {
                  cursor: pointer;
                  font-size: 20px;
                  color: #000000;
                }
                .dangNhap.active {
                  color: red;
                }
                .dangKi {
                  @extend .dangNhap;
                }
              }
            }
          }
        }
      }
      

      .hotline {
        .phone {
          padding-left: 40px;
        }
        .phone__number {
          color: #fff;
        }
      }
      .userAcount {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        padding-right: 20px;
        .userAcount__img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .userAcount__name {
          margin-left: 5px;
          font-weight: 500;
          font-size: 15px;
          color: #fff;
        }
        .userAcount__logout {
          position: absolute;
          top: 100%;
          left: -65%;
          width: 120px;
          text-align: center;
          display: none;
          padding: 5px;
          border-radius: 4px;
          background-color: #888888;
          z-index: 9;
          cursor: pointer;
          p {
            margin: 0;
            color: #fff;
          }
        }

        &:hover {
          .userAcount__logout {
            display: block;
          }
        }
      }
    }
    .menu {
      display: none;
      i {
        font-size: 30px;
        color: #fff;
      }
    }
    .line__header {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;
    }
  }
}
.bar__menu {
  position: fixed;
  top: 0;

  bottom: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 0.9);
  z-index: 31;
  animation: showbar ease-in;
  @keyframes showbar {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }
  .list__item {
    padding: 0;
    color: #fff;
    list-style: none;
    .item {
      font-size: 20px;
      padding: 20px 0 20px 20px;
      i {
        width: 10%;
      }
      span {
        cursor: pointer;
        width: 90%;
        padding: 0 10px;
      }
    }
  }
}

$tablet-width: 768px;
$desktop-width: 1024px;


@media screen and (max-width: 740px) {
  header {
    .header__content {
      .social {
        display: none;
      }
      .user {
        justify-content: flex-end;
        padding-top: 5px;
        .hotline,
        .user__content,
        .userAcount {
          display: none;
        }
        .menu {
          display: block;
        }
      }

      .line__header {
        display: none;
      }
      .navigate-logo {
        top: 15%;
        left: 10%;
        .logo {
          width: 50px;
          height: 50px;
          cursor: pointer;
          outline: none;
        }
      }
    }
  }
}
