header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .navbar {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 0;
    background-color: #fff;
    height: 60px;
    .navbar-brand {
      width: 25%;
      img {
        width: 50px;
        height: 50px;
        cursor: pointer;
        outline: none;
      }
    }

    .navbar-collapse {
      justify-content: space-around;
      background-color: #fff;
      .navbar-nav {
        margin: 0;
        .nav-item {
          a {
            color: #000;
            transition: all 0.2s;
            text-decoration: none;
            font-weight: 500;

            &:hover {
              color: #fb4226;
            }
          }
        }
      }
    }
    .user {
      width: 25%;
      text-align: center;
      .user__content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .user__img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        p {
          color: #9b9b9b;
          display: inline-block;
          padding: 0 10px;
          margin: 0;
          cursor: pointer;
        }
      }
      .userAcount {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        img {
          width: 40px;
          border-radius: 50%;
        }
        .name {
          margin-left: 5px;
          font-weight: 500;
          font-size: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .user {
    display: none;
  }
}
