header {
  position: relative;
  height: 70px;
  background: #111111;

  .header__content {
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    .navigate-logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      .logo {
        width: 70px;
        height: 74px;
        cursor: pointer;
        outline: none;
      }
    }
    .social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .social__img {
        width: 55px;
        height: 55px;
        margin-right: 10px;
        transition: transform 0.8s ease-in-out;
        &:hover {
          transform: rotate(360deg);
        }
      }
      .social__sub {
        color: #fff;
        margin-right: 5%;
        .social__sub-item {
          font-size: 20px;
          font-weight: 700;
          margin: 0 5px;
        }
        .social__sub__active {
          color: #59c441;
        }
      }
    }

    .user {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .user__content {
        display: flex;
        align-items: center;
        background-color: #2a3035;
        padding: 5px;
        .user__img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        p {
          color: #fff;
          display: inline-block;
          padding: 0 10px;
          margin: 0;
          cursor: pointer;
        }
      }
      .modal {
        overflow-y: hidden;
        .modal-dialog {
          max-width: 400px;
          .modal-content {
            .wrapper {
              .wrapper__content {
                padding: 20px;
                text-align: center;
                .dangNhap {
                  cursor: pointer;
                  font-size: 20px;
                  color: #000000;
                }
                .dangNhap.active {
                  color: red;
                }
                .dangKi {
                  @extend .dangNhap;
                }
              }
            }
          }
        }
      }

      .hotline {
        margin-left: 5%;

        .phone__number {
          font-weight: 700;
          color: #fff;
        }
      }
      .wrapper__right {
        display: flex;
        .wrapper__blank {
          .img__blank {
            width: 55px;
            margin: 0 5px;
          }
        }
        .userAcount {
          position: relative;
          display: flex;
          align-items: center;
          cursor: pointer;
          outline: none;
          padding: 0 10px;

          .userAcount__img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
          }
          .userAcount__name {
            margin-left: 5px;
            font-weight: 500;
            font-size: 15px;
            color: #fff;
          }
          .userAcount__logout {
            position: absolute;
            top: 100%;
            left: -30%;
            width: 120px;
            text-align: center;
            display: none;
            padding: 5px;
            border-radius: 4px;
            background-color: #888888;
            z-index: 9;
            cursor: pointer;
            p {
              margin: 0;
              color: #fff;
            }
          }

          &:hover {
            .userAcount__logout {
              display: block;
            }
          }
        }
      }
    }
    .menu {
      display: none;
      i {
        font-size: 30px;
        color: #fff;
      }
    }
    .line__header {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;
      max-width: 100%;
    }
  }
}
.bar__menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 31;

  .list__item {
    background-color: #fff;
    padding: 0;
    color: #000;
    list-style: none;
    position: absolute;
    width: 70%;
    right: 0;
    bottom: 0;
    top: 0;
    animation: showbar ease-in-out 0.7s;
    .item {
      font-size: 20px;
      padding: 20px 0 20px 20px;
      i {
        width: 10%;
      }
      span {
        cursor: pointer;
        width: 90%;
        padding: 0 10px;
      }
    }
  }
  @keyframes showbar {
    from {
      right: calc(100% - 170%);
    }
    to {
      right: 0;
    }
  }
}

@media screen and (max-width: 740px) {
  header {
    .header__content {
      .social {
        display: none;
      }
      .user {
        justify-content: flex-end;
        padding-top: 5px;
        .hotline,
        .user__content,
        .userAcount {
          display: none;
        }
        .menu {
          display: block;
        }
      }

      .navigate-logo {
        top: 34%;
        left: 50%;
        .logo {
          width: 50px;
          height: 50px;
          cursor: pointer;
          outline: none;
        }
      }
    }
  }
}
