.row{
  margin: 0;
}
.profileAbout {
    .profile__img {
      img {
        width: 274px;
        height: 430px;
      }
    }
    .profile__info {
      .profile__info__list {
        padding: 0;
        list-style: none;
        .profile__info__list--item {
          padding: 20px;
          display: flex;
          .li3.colorhover {
            &:hover {
              color: #009688;
            }
          }
          .li1 {
            width: 20%;
          }
          .li2 {
            width: 10%;
          }
          .li3 {
            width: 70%;
          }
        }
      }
    }
  }