<div class="row profileAbout">
    <div class="col-md-4 p-0 profile__img">
        <img class="img-fluid" src={{capNhatAvarta}} alt="" />


    </div>
    <div class="col-md-8 profile__info">
        <ul class="profile__info__list">
            <li class="profile__info__list--item">
                <div class="li1">Name</div>
                <div class="li2">:</div>
                <div class="li3"> {{thongTinTaiKhoan.hoTen}} </div>
            </li>
            <li class="profile__info__list--item">
                <div class="li1">Birthday</div>
                <div class="li2">:</div>
                <div class="li3">10/10/1990</div>
            </li>
            <li class="profile__info__list--item">
                <div class="li1">Phone</div>
                <div class="li2">:</div>
                <div class="li3"> {{thongTinTaiKhoan.soDT}} </div>
            </li>
            <li class="profile__info__list--item">
                <div class="li1 ">Email</div>
                <div class="li2">:</div>
                <div class="li3 colorhover"> {{thongTinTaiKhoan.email}} </div>
            </li>
            <li class="profile__info__list--item">
                <div class="li1 ">Website</div>
                <div class="li2">:</div>
                <div class="li3 colorhover ">www.examplesite.com</div>
            </li>
            <li class="profile__info__list--item">
                <div class="li1">Address</div>
                <div class="li2">:</div>
                <div class="li3">
                    Parma Via Modena, 40019, Sant'Agata Bolognese, BO, Italy
                </div>
            </li>
        </ul>
    </div>
</div>
<app-modal-update-user></app-modal-update-user>