<app-header></app-header>
<div class="detailMainInfo">
  <img class="img-main" [src]="detailPhim.hinhAnh" alt="" />
  <div class="base"></div>
  <div class="overplay"></div>
  <div class="detailFilm ">
    <div class="detailFilm-top">
      <div class="row">
        <div class="col-md-3 detailFilm-img p-0">
          <img class="img-fluid" [src]="detailPhim.hinhAnh" alt="" />
          <img class="trailer" src="https://tix.vn/app/assets/img/icons/play-video.png" alt="">
        </div>
        <div class="col-md-6 detailFilm-text pl-5">
          <span class="dateFilm"> {{ detailPhim.ngayKhoiChieu }} </span>
          <span class="nameFilm"
            ><span class="agetext">C16</span> {{ detailPhim.tenPhim }}
          </span>
          <span class="time">
            100 phút - 0 IMDb - 2D/Digital
          </span>
          <button class="ticket">
            Mua vé
          </button>
        </div>
        <div class="col-md-3 detailFilm-rating">
          <div class="circleStar ">
            <div class="circleStar__number">7.7</div>
          </div>
          <div class="rartingStart">
            <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="" />
            <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="" />
            <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="" />
            <img
              class="number"
              src="https://tix.vn/app/assets/img/icons/star1.2.png"
              alt=""
            />
            <span class="comment">
              {{ detailPhim.danhGia }} người đánh giá</span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="detail-nav mb-5">
      <ul>
        <li
          [ngClass]="{ active: loai == 'lichchieu' }"
          (click)="chonLoai('lichchieu')"
        >
          Lịch Chiếu
        </li>
        <li
          [ngClass]="{ active: loai == 'thongtin' }"
          (click)="chonLoai('thongtin')"
        >
          Thông Tin
        </li>
        <li
          [ngClass]="{ active: loai == 'danhgia' }"
          (click)="chonLoai('danhgia')"
        >
          Đánh Giá
        </li>
      </ul>
    </div>

    <div [ngSwitch]="loai">
      <div *ngSwitchCase="'lichchieu'">
        <app-lich-chieu></app-lich-chieu>
      </div>
      <div *ngSwitchCase="'thongtin'">
        <app-thong-tin-film></app-thong-tin-film>
      </div>
      <div *ngSwitchCase="'danhgia'">
        <app-danh-gia></app-danh-gia>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
