<!-- <li class="profileHistory__list-item">
    <div class="row m-0">
        <div class="col-2 profileHistory__list-item---left  ">
            <img class="img-fluid"
                src="https://s3img.vcdn.vn/mobile/123phim/2020/02/bloodshot-15815812953448_60x60.jpg"
                alt="">
        </div>
        <div class="col-10 profileHistory__list-item---right">
            <div class="row cinema">
                <div class="col-1 p-0 ">
                    <img class="img-fluid"
                        src="https://s3img.vcdn.vn/123phim/2020/01/galaxy-linh-trung-15791435324335.jpg" alt="">
                </div>
                <div class="col-11 pl-4  info">
                    <p> {{thongTin.tenPhim}} </p>
                    <p>116 Nguyễn Du ,Q1 <span class="map">[bản đồ]</span></p>
                </div>
            </div>
            <div class="row time">
                <div class="col-10  ">ngày đặt : {{thongTin.ngayDat}} - Rạp 1 - ghế 06</div>
            </div>


        </div>
    </div>
</li> -->

