/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import './variable.scss';
@import './mixin';
.owl-prev {
  position: absolute;
  top: 30%;
  left: -50px;
}
.owl-next:hover span {
  background: none;
}
.owl-prev span {
  font-size: 70px;
}
.owl-next {
  position: absolute;
  top: 30%;
  right: -50px;
}
.owl-next span {
  font-size: 70px;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
