<div class="danhGia">
    <div class="danhGia__about">
        <div class="danhGia__about-left">
            <div class="user-img"><img src="https://tix.vn/app/assets/img/avatar.png" alt="">
                <span>Bạn đang nghĩ gì về phim này</span></div>
            <div class="danhGia__about-right">
                <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
            </div>
        </div>
    </div>

    <div class="userComment">
        <div class="userComment-head">
            <div class="user">
                <img src="https://lh3.googleusercontent.com/a-/AAuE7mB0QtxbfNWwucHHF1ikery-lVlQjsDV9ax799Pm8A" alt="">
                <div class="user__info">
                    <span class="user__name">Kitto Duy</span>
                    <span class="time-comment">6 giờ trước</span>
                </div>
            </div>
            <div class="ratingNumber">
                <div class="number">4</div>
                <div class="rating">
                    <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                    <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                </div>

            </div>

        </div>

        <div class="userComment-body">
            <p>Vì phần 1 quá xuất sắc nên mới ra coi phần 2. Ai ngờ phần 2 chỉ là dạng kinh dị thị trường không có chiều
                sâu. Tuyến nhân vật rời rạc, nội dung quá dễ đoán trước, kết thúc hụt hẫng.</p>
        </div>

        <div class="userComment-footer">
            <img src="https://tix.vn/app/assets/img/icons/like.png" alt=""> 0 Thích
        </div>

    </div>

    <div class="userComment">
        <div class="userComment-head">
            <div class="user">
                <img src="https://lh3.googleusercontent.com/a-/AAuE7mB0QtxbfNWwucHHF1ikery-lVlQjsDV9ax799Pm8A" alt="">
                <div class="user__info">
                    <span class="user__name">Kitto Duy</span>
                    <span class="time-comment">6 giờ trước</span>
                </div>
            </div>
            <div class="ratingNumber">
                <div class="number">4</div>
                <div class="rating">
                    <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                    <img src="https://tix.vn/app/assets/img/icons/star1.png" alt="">
                </div>

            </div>

        </div>

        <div class="userComment-body">
            <p>Vì phần 1 quá xuất sắc nên mới ra coi phần 2. Ai ngờ phần 2 chỉ là dạng kinh dị thị trường không có chiều
                sâu. Tuyến nhân vật rời rạc, nội dung quá dễ đoán trước, kết thúc hụt hẫng.</p>
        </div>

        <div class="userComment-footer">
            <img src="https://tix.vn/app/assets/img/icons/like.png" alt=""> 0 Thích
        </div>

    </div>





    <div class="viewMore">
        <button class="btn-viewMore">Xem Thêm</button>
    </div>

</div>