<div class="InfoFilm">
    <div class="infoFilm__cotent row">
        <div class="col-md-6 infoFilm__cotent-left">
            <div class="row rowLeftInfo">
                <p class="contentTitle">Địa Điểm</p>
                <p class="contentInfo ng-binding">L3-Bitexco Icon 68, 2 Hải Triều, Q.1</p>
            </div>
            <div class="row rowLeftInfo">
                <p class="contentTitle">Điện Thoại</p>
                <p class="contentInfo ng-binding">028 62 670 670</p>
            </div>
            <div class="row rowLeftInfo">
                <p class="contentTitle">Email</p>
                <p class="contentInfo ng-binding">info@bhdstar.vn</p>
            </div>
            <div class="row rowLeftInfo">
                <p class="contentTitle">Phòng Chiếu</p>
                <p class="contentInfo ng-binding">7 2D. 4 3D</p>
            </div>
            <div class="row rowLeftInfo">
                <p class="contentTitle">Giờ mở cửa</p>
                <p class="contentInfo ng-binding">8:00 - 24:00</p>
            </div>

        </div>
        <div class="col-md-6 infoFilm__cotent-right">
            <div class="rowLeftInfo">Giới Thiệu</div>
            <div class="rowLeftInfo">
                BHD Star Bitexco ICON 68 là một trong những cụm rạp được đầu tư quy mô nhất hiện nay tại Việt Nam, với tổng diện tích hơn 2.000 m2, bao gồm 7 phòng chiếu được trang bị theo tiêu chuẩn quốc tế. Âm thanh đạt chuẩn Dolby 7.1 với hệ thống cách âm hiện đại, trong đó có 4 phòng 3D,  cùng hơn 1.000 ghế ngồi được thiết kế theo kiểu dáng đẹp mắt và tiện dụng để mang lại sự thoải mái nhất cho khán giả.
            </div>
        </div>
    </div>
    
</div>