<!-- Button trigger modal -->
<button class="btn btn-primary  " (click)="open()">
    <i class="fa fa-wrench" aria-hidden="true"></i>
</button>

<!-- Modal -->
<div class="wrapper__update" *ngIf="show">
    <div class="modal-content">
        <h5 class="text-center"> Cập nhật Phim </h5>
        <div class="modal-body">
            <form #updateForm="ngForm" (ngSubmit)="Update(updateForm.value)">
                <div class="form-group">
                    <label for="">Tên phim</label>
                    <input type="text" name="tenPhim" class="form-control" placeholder="" ngModel>

                </div>
                <div class="form-group">
                    <label for="">Trailer</label>
                    <input type="text" name="trailer" class="form-control" placeholder="" ngModel>

                </div>
                <div class="form-group">
                    <label for="">Hình ảnh</label>
                    <input type="text" name="hinhAnh" class="form-control" placeholder="" ngModel>

                </div>
                <div class="form-group">
                    <label for="">Mô tả</label>
                    <input type="text" name="moTa" class="form-control" placeholder="" ngModel>

                </div>
                <div class="form-group">
                    <label for="">Ngày khởi chiếu</label>
                    <input type="text" name="ngayKhoiChieu" class="form-control" placeholder="" ngModel>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                    <button type="button" class="btn btn-primary" type="submit">Save</button>
                </div>

            </form>
        </div>

    </div>
</div>