<div class="cinema">
    <div class="cinema-navigation">
        <ul class="cinema__list">
           <app-cinema-theaters></app-cinema-theaters>
           <app-cinema-theaters></app-cinema-theaters>
           <app-cinema-theaters></app-cinema-theaters>


        </ul>
    </div>

    <div class="cinema-tab-content">
        <app-cinema-item></app-cinema-item>
        <app-cinema-item></app-cinema-item>
        <app-cinema-item></app-cinema-item>

    </div>
    <div class="cinema-listFilm">
        <app-cinema-film-item></app-cinema-film-item>
        <app-cinema-film-item></app-cinema-film-item>






    </div>
</div>