<app-header></app-header>
<div class="container profile">
  <div class="profile__content">
    <h3 class="profile__content-header">profile user</h3>
    <div class="profile__content__body">
      <div class="row">
        <div class="col-md-2 col-sm-2 p-0">
          <ul class="profile__content__body__list">
            <li
              class="profile__content__body--list--item "
              (click)="choosenComponent('about')"
              [ngClass]="{active: choosen === 'about'}"
            >
              Thông tin cá nhân
            </li>
            <li
              class="profile__content__body--list--item"
              (click)="choosenComponent('history')"
               [ngClass]="{active: choosen === 'history'}"
            >
              Lịch sử đặt vé
            </li>
            <li
              class="profile__content__body--list--item"
              (click)="choosenComponent('contact')"
              [ngClass]="{active: choosen === 'contact'}"
            >
              Liên lạc
            </li>
          </ul>
        </div>
        <div class="col-md-10 col-sm-10 p-0">
          <div class="profile__content__body--content">
            <div [ngSwitch]="choosen">
              <div *ngSwitchCase="'about'">
                <app-profile-about></app-profile-about>
              </div>
              <div *ngSwitchCase="'history'">
                <app-profile-history></app-profile-history>
              </div>
              <div *ngSwitchCase="'contact'">
                <app-profile-contact></app-profile-contact>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
